@import url('https://fonts.googleapis.com/css?family=Raleway:500');

body {
    background-color: #000;
    margin: 0;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

#choose{
    position:absolute;
    top:20%;
    left:20%;
    width:20%;
    z-index: 99;
    color: white;

}

#score{
    position:absolute;
    top:2%;
    left:5px;
    z-index: 99;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
}